<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow, noarchive, nosnippet, noimageindex, notranslate, max-snippet:0, max-image-preview:none, max-video-preview:0"
  Header set Referrer-Policy "no-referrer"
</IfModule>

<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteRule ^robots\.txt$ - [L]
</IfModule>
